@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply font-poppins;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold uppercase;
  }
  h1 {
    @apply text-5xl md:text-[80px] leading-none;
  }
  h2 {
    @apply text-[40px];
  }
  h3 {
    @apply text-[22px];
  }
  h4 {
    @apply text-[18px];
  }
  a {
    @apply font-bold uppercase leading-none hover:text-accent transition-all duration-200;
  }

  .btn {
    @apply flex justify-center items-center h-[50px] px-8 text-white font-semibold uppercase;
  }

  .btn-accent {
    @apply bg-accent hover:bg-accent-hover   transition-all;
  }
  .btn-primary {
    @apply bg-accent   transition-all;
  }
  .btn-pink {
    @apply bg-pink hover:bg-pink/90  transition-all;
  }

  .btn-white {
    @apply bg-white hover:bg-white/90 text-primary transition-all;
  }

  .max-container {
    @apply mx-auto max-w-[1340px];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
